/* full body style start here */
body {
    font-family: 'PT Sans', sans-serif;
    margin: 0%;
}

/* full body style End */
h1 {
    font-size: 60px;
}

.text-color {
    color: orange;
}

.flexible {
    display: flex;
}

/* class=top-banner style start */
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.first_section {
    width: 50%;
    padding-left: 7%;
}

.first_section img {
    width: 80%;
}

.btn {
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    text-align: center;
    font-weight: 700;
    border: none;
    background-image: linear-gradient(lightsalmon, tomato);
    border-radius: 10px;
    font-size: large;
}

/* second section part css style start here */
.second-part {
    margin-top: 100px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* second section part css style end here */

/*  Exprience third section part css style start here */
.experineces_sec {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 100px;
}


/*  Exprience third section part css style end here */